<div class="spinnerDiv" *ngIf="spinner">
    <mat-spinner class="spinner"></mat-spinner>
</div>
<mat-toolbar>
  <mat-toolbar-row>
    <span class="title"> {{title}} </span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="subTitle"> {{message}} </span> 
  </mat-toolbar-row> 
</mat-toolbar> 
<mat-grid-list cols="6" rowHeight="100px">
  <div *ngFor="let hit of hits"
      class="contentItemList" 
      (mouseenter)="hoverItem = hit.objectID" 
      (mouseleave)="hoverItem = 0" >
    <mat-grid-tile 
      [colspan]="4" 
      [rowspan]="1" class="leftContent" 
      [ngClass]="{'contentItemListHover': hoverItem == hit.objectID}" 
      [style.border-bottom]="'1px double #ccc'"
      (click)="openPage(hit.story_url, hit.url)" >
      <span> {{ hit.story_title || hit.title }} <span class="authorText"> - {{ hit.author }} - </span>  </span>
    </mat-grid-tile>
    <mat-grid-tile 
      [colspan]="1" 
      [rowspan]="1" class="dateContent" 
      [ngClass]="{'contentItemListHover': hoverItem == hit.objectID}"
      [style.border-bottom]="'1px double #ccc'" 
      (click)="openPage(hit.story_url, hit.url)" >
      <span> {{formatTime(hit.created_at_i)}} </span>
    </mat-grid-tile>
    <mat-grid-tile 
      [colspan]="1" 
      [rowspan]="1" 
      [ngClass]="{'contentItemListHover': hoverItem == hit.objectID}"
      [style.border-bottom]="'1px double #ccc'" >
      <button mat-mini-fab color="warn" (click)="putHit(hit.objectID)" *ngIf="hoverItem == hit.objectID">
        <i class="fas fa-trash-alt"></i>
      </button>        
    </mat-grid-tile>
  </div>
</mat-grid-list>